name: Code checks

on:
  push: null
  pull_request:
    branches:
      - main

jobs:
  path-filter:
    timeout-minutes: 5
    outputs:
      ts: ${{steps.changes.outputs.ts}}
      renovate: ${{steps.changes.outputs.renovate}}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            ts:
              - pnpm-lock.yml
              - biome.json
              - package.json
              - pnpm-lock.yaml
              - tsconfig.json
              - src/**/*.ts
            renovate:
              - renovate.json5
  check-typescript:
    needs: path-filter
    if: needs.path-filter.outputs.ts == 'true'
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: ["24.11.1", "lts/*", "current"]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install Node ${{ matrix.node }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://registry.npmjs.org
          cache: pnpm
      - run: pnpm install
      - run: pnpm run check
  validate-renovate-config:
    needs: path-filter
    if: needs.path-filter.outputs.renovate == 'true'
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: latest
          registry-url: https://registry.npmjs.org
          cache: pnpm
      - run: pnpm --package=renovate dlx renovate-config-validator --strict
  status-check:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    needs:
      - check-typescript
      - validate-renovate-config
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
