name: Publish to pkg.pr.new

on:
  push: null
  pull_request: null

jobs:
  pkg-pr-new:
    timeout-minutes: 10
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - run: pnpm install --frozen-lockfile
      - run: pnpm dlx pkg-pr-new publish --pnpm
